.body-container{
    padding-top: 80px;
    background-color:aquamarine;
}
.body-omeba-container{
    display: flex;
}
.body-omeba-container img{
    width: 650px;
    margin-top: -80px;
    
}
.body-omeba-container-right{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #32323c;
    color: #a0a0a0;
    padding: 50px;
    border-radius: 50px;
}
.omeba-insta,
.omeba-quotation,
.omeba-contact{
    display: flex;
    gap: 10px;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    padding: 10px;
}
.omeba-insta img{
    width: 30px;
    height: 30px;
    margin: 0;
}
.para{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.omeba-quotation img{
    width: 35px;
    height: 32px;
    margin: 0;
}
.omeba-contact img{
    width: 32px;
    height: 30px;
    margin: 0;
}