.body-container{
    padding-top: 80px;
    background-color: #121212;

}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('../assets/fonts/Merriweather_Sans/MerriweatherSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Regular style */
  }
