.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    padding-left: 80px;
}
.contact-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 500px;
}
.contact-right input, 
.contact-right textarea{
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
}
.contact-right textarea{
    grid-column: 1/-1;
    height: 100px;
}
.contact-right input::placeholder, 
.contact-right textarea::placeholder{
    padding-left: 10px;
    color: rgba(220, 220, 220, 0.69);
}
.form-date-container{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
input[type="date"]{
    color: rgba(220, 220, 220,  0.69);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.contact-right button{
    grid-column: 1/-1;
    height: 40px;
    width: 120px;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.details-select{
    grid-column: 1/-1;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
}
.college-details,
.family-details{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}