.swiper-main-container{
    max-width: 100%;
    margin: 40px auto;
    margin-bottom: 50px;
  }
  
  .swiper-container {
    height: 400px; 
    padding-bottom: 50px;
    max-width: 980px;
    position: relative;
  }
  
  .swiper-slide {
    width: 400px;
    height: 400px;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper-container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .swiper-slide img {
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 60% !important;
    transform: translateX(-58%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 40% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(149, 149, 149, 0.984));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    margin-top: 40px;
  }
.swiper-pagination-bullet{
  background-color: #ffffff;
}
.swiper-pagination-bullet-active{
  background-color: #ffffff;
}
