*{
    margin: 0;
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.left-header-section{
    padding-left: 40px;
}
.left-header-section img{
    width: 200px;
    margin-top: 40px;
    /*background: black;*/

}
.middle-header-section{
    display: flex;
    gap: 20px;
}
.right-header-section{
    padding-right: 40px;
}
